* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

html {
  font-size: 80%;
}
@media (min-width: 480px) {
  html {
    font-size: 100%;
  }
}

body {
  padding: 20px;
}

.fretboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, 50px);
  grid-template-rows: repeat(6, 50px);
}
.fretboard p {
  height: 3em;
  width: 3em;
  display: grid;
  padding: 2px;
}
.fretboard .ionian {
  color: #0000ac;
  background-color: rgba(0, 51, 255, 0.3);
  border: 1px solid #0000ac;
  justify-content: start;
  align-items: start;
}
.fretboard .ionian.oct-a.deg-1 {
  grid-area: 6/2;
}
.fretboard .ionian.oct-a.deg-2 {
  grid-area: 6/4;
}
.fretboard .ionian.oct-a.deg-3 {
  grid-area: 5/1;
}
.fretboard .ionian.oct-a.deg-4 {
  grid-area: 5/2;
}
.fretboard .ionian.oct-a.deg-5 {
  grid-area: 5/4;
}
.fretboard .ionian.oct-a.deg-6 {
  grid-area: 4/1;
}
.fretboard .ionian.oct-a.deg-7 {
  grid-area: 4/3;
}
.fretboard .ionian.oct-b.deg-1 {
  grid-area: 4/4;
}
.fretboard .ionian.oct-b.deg-2 {
  grid-area: 3/1;
}
.fretboard .ionian.oct-b.deg-3 {
  grid-area: 3/3;
}
.fretboard .ionian.oct-b.deg-4 {
  grid-area: 3/4;
}
.fretboard .ionian.oct-b.deg-5 {
  grid-area: 2/2;
}
.fretboard .ionian.oct-b.deg-6 {
  grid-area: 2/4;
}
.fretboard .ionian.oct-b.deg-7 {
  grid-area: 1/1;
}
.fretboard .ionian.oct-c.deg-1 {
  grid-area: 1/2;
}
.fretboard .dorian {
  color: #a50349;
  background-color: rgba(255, 0, 119, 0.347);
  border: 1px solid #a50349;
  justify-content: end;
  align-items: start;
}
.fretboard .dorian.oct-a.deg-1 {
  grid-area: 6/4;
}
.fretboard .dorian.oct-a.deg-2 {
  grid-area: 6/6;
}
.fretboard .dorian.oct-a.deg-3 {
  grid-area: 6/7;
}
.fretboard .dorian.oct-a.deg-4 {
  grid-area: 5/4;
}
.fretboard .dorian.oct-a.deg-5 {
  grid-area: 5/6;
}
.fretboard .dorian.oct-a.deg-6 {
  grid-area: 4/3;
}
.fretboard .dorian.oct-a.deg-7 {
  grid-area: 4/4;
}
.fretboard .dorian.oct-b.deg-1 {
  grid-area: 4/6;
}
.fretboard .dorian.oct-b.deg-2 {
  grid-area: 3/3;
}
.fretboard .dorian.oct-b.deg-3 {
  grid-area: 3/4;
}
.fretboard .dorian.oct-b.deg-4 {
  grid-area: 3/6;
}
.fretboard .dorian.oct-b.deg-5 {
  grid-area: 2/4;
}
.fretboard .dorian.oct-b.deg-6 {
  grid-area: 2/6;
}
.fretboard .dorian.oct-b.deg-7 {
  grid-area: 2/7;
}
.fretboard .dorian.oct-c.deg-1 {
  grid-area: 1/4;
}
.fretboard .phrygian {
  color: #d56413;
  background-color: rgba(235, 120, 38, 0.3);
  border: 1px solid #d56413;
  justify-content: start;
  align-items: end;
}
.fretboard .phrygian.oct-a.deg-1 {
  grid-area: 6/6;
}
.fretboard .phrygian.oct-a.deg-2 {
  grid-area: 6/7;
}
.fretboard .phrygian.oct-a.deg-3 {
  grid-area: 6/9;
}
.fretboard .phrygian.oct-a.deg-4 {
  grid-area: 5/6;
}
.fretboard .phrygian.oct-a.deg-5 {
  grid-area: 5/8;
}
.fretboard .phrygian.oct-a.deg-6 {
  grid-area: 5/9;
}
.fretboard .phrygian.oct-a.deg-7 {
  grid-area: 4/6;
}
.fretboard .phrygian.oct-b.deg-1 {
  grid-area: 4/8;
}
.fretboard .phrygian.oct-b.deg-2 {
  grid-area: 4/9;
}
.fretboard .phrygian.oct-b.deg-3 {
  grid-area: 3/6;
}
.fretboard .phrygian.oct-b.deg-4 {
  grid-area: 3/8;
}
.fretboard .phrygian.oct-b.deg-5 {
  grid-area: 2/6;
}
.fretboard .phrygian.oct-b.deg-6 {
  grid-area: 2/7;
}
.fretboard .phrygian.oct-b.deg-7 {
  grid-area: 2/9;
}
.fretboard .phrygian.oct-c.deg-1 {
  grid-area: 1/6;
}
.fretboard .lydian {
  color: #d88c13;
  background-color: rgba(255, 200, 0, 0.3);
  border: 1px solid #d88c13;
  justify-content: start;
  align-items: start;
}
.fretboard .lydian.oct-a.deg-1 {
  grid-area: 6/7;
}
.fretboard .lydian.oct-a.deg-2 {
  grid-area: 6/9;
}
.fretboard .lydian.oct-a.deg-3 {
  grid-area: 5/6;
}
.fretboard .lydian.oct-a.deg-4 {
  grid-area: 5/8;
}
.fretboard .lydian.oct-a.deg-5 {
  grid-area: 5/9;
}
.fretboard .lydian.oct-a.deg-6 {
  grid-area: 4/6;
}
.fretboard .lydian.oct-a.deg-7 {
  grid-area: 4/8;
}
.fretboard .lydian.oct-b.deg-1 {
  grid-area: 4/9;
}
.fretboard .lydian.oct-b.deg-2 {
  grid-area: 3/6;
}
.fretboard .lydian.oct-b.deg-3 {
  grid-area: 3/8;
}
.fretboard .lydian.oct-b.deg-4 {
  grid-area: 2/6;
}
.fretboard .lydian.oct-b.deg-5 {
  grid-area: 2/7;
}
.fretboard .lydian.oct-b.deg-6 {
  grid-area: 2/9;
}
.fretboard .lydian.oct-b.deg-7 {
  grid-area: 1/6;
}
.fretboard .lydian.oct-c.deg-1 {
  grid-area: 1/7;
}
.fretboard .mixolydian {
  color: #00b685;
  background-color: rgba(0, 255, 179, 0.3);
  border: 1px solid #00b685;
  justify-content: start;
  align-items: end;
}
.fretboard .mixolydian.oct-a.deg-1 {
  grid-area: 6/9;
}
.fretboard .mixolydian.oct-a.deg-2 {
  grid-area: 6/11;
}
.fretboard .mixolydian.oct-a.deg-3 {
  grid-area: 5/8;
}
.fretboard .mixolydian.oct-a.deg-4 {
  grid-area: 5/9;
}
.fretboard .mixolydian.oct-a.deg-5 {
  grid-area: 5/11;
}
.fretboard .mixolydian.oct-a.deg-6 {
  grid-area: 4/8;
}
.fretboard .mixolydian.oct-a.deg-7 {
  grid-area: 4/9;
}
.fretboard .mixolydian.oct-b.deg-1 {
  grid-area: 4/11;
}
.fretboard .mixolydian.oct-b.deg-2 {
  grid-area: 3/8;
}
.fretboard .mixolydian.oct-b.deg-3 {
  grid-area: 3/10;
}
.fretboard .mixolydian.oct-b.deg-4 {
  grid-area: 3/11;
}
.fretboard .mixolydian.oct-b.deg-5 {
  grid-area: 2/9;
}
.fretboard .mixolydian.oct-b.deg-6 {
  grid-area: 2/11;
}
.fretboard .mixolydian.oct-b.deg-7 {
  grid-area: 2/12;
}
.fretboard .mixolydian.oct-c.deg-1 {
  grid-area: 1/9;
}
.fretboard .aeolian {
  color: #0a8ea8;
  background-color: rgba(0, 170, 255, 0.3);
  border: 1px solid #0a8ea8;
  justify-content: end;
  align-items: end;
}
.fretboard .aeolian.oct-a.deg-1 {
  grid-area: 6/11;
}
.fretboard .aeolian.oct-a.deg-2 {
  grid-area: 6/13;
}
.fretboard .aeolian.oct-a.deg-3 {
  grid-area: 6/14;
}
.fretboard .aeolian.oct-a.deg-4 {
  grid-area: 5/11;
}
.fretboard .aeolian.oct-a.deg-5 {
  grid-area: 5/13;
}
.fretboard .aeolian.oct-a.deg-6 {
  grid-area: 5/14;
}
.fretboard .aeolian.oct-a.deg-7 {
  grid-area: 4/11;
}
.fretboard .aeolian.oct-b.deg-1 {
  grid-area: 4/13;
}
.fretboard .aeolian.oct-b.deg-2 {
  grid-area: 3/10;
}
.fretboard .aeolian.oct-b.deg-3 {
  grid-area: 3/11;
}
.fretboard .aeolian.oct-b.deg-4 {
  grid-area: 3/13;
}
.fretboard .aeolian.oct-b.deg-5 {
  grid-area: 2/11;
}
.fretboard .aeolian.oct-b.deg-6 {
  grid-area: 2/12;
}
.fretboard .aeolian.oct-b.deg-7 {
  grid-area: 2/14;
}
.fretboard .aeolian.oct-c.deg-1 {
  grid-area: 1/11;
}

h1 {
  margin-bottom: 1em;
}

h2 {
  margin-bottom: 0.8em;
}

/*# sourceMappingURL=style.css.map */
