@use '../variables/color' as *;
@use '../variables/mixins' as *;
@use '../variables/mnemonic-grid' as *;

.mnemonic-grid {
  display: grid;
  grid-template-rows: repeat($row-count, auto);
  grid-template-columns: repeat($mnemonic-col-count, auto);

  .spacer {
    grid-row: 1 / #{$row-count} + 1;
    width: 0.4em;
    background-color: gainsboro;

    &.after-ionian {
      @include mnemonic-spacer-after-ionian;
    }

    &.after-dorian {
      @include mnemonic-spacer-after-dorian;
    }

    &.after-phrygian {
      @include mnemonic-spacer-after-phrygian;
    }

    &.after-lydian {
      @include mnemonic-spacer-after-lydian;
    }

    &.after-mixolydian {
      @include mnemonic-spacer-after-mixolydian;
    }

    &.after-aeolian {
      @include mnemonic-spacer-after-aeolian;
    }
  }

  .string-name {
    grid-column: 1;

    &.first {
      @include mnemonic-row-start-first;
      grid-row-end: span $rows-per-string;
    }

    &.second {
      @include mnemonic-row-start-second;
      grid-row-end: span $rows-per-string;
    }

    &.third {
      @include mnemonic-row-start-third;
      grid-row-end: span $rows-per-string;
    }

    &.fourth {
      @include mnemonic-row-start-fourth;
      grid-row-end: span $rows-per-string;
    }

    &.fifth {
      @include mnemonic-row-start-fifth;
      grid-row-end: span $rows-per-string;
    }

    &.sixth {
      @include mnemonic-row-start-sixth;
      grid-row-end: span $rows-per-string;
    }
  }

  .mode-name {
    text-align: center;
    grid-row: 1;
  }

  .mnemonic.mnemonic {
    grid-row: 2;

    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }
  }

  .mode-name.mode-name,
  .mnemonic.mnemonic {
    border: none;
    background: none;

    &.ionian {
      @include mnemonic-cols-ionian;
    }

    &.dorian {
      @include mnemonic-cols-dorian;
    }

    &.phrygian {
      @include mnemonic-cols-phrygian;
    }

    &.lydian {
      @include mnemonic-cols-lydian;
    }
  
    &.mixolydian {
      @include mnemonic-cols-mixolydian;
    }
  
    &.aeolian {
      @include mnemonic-cols-aeolian;
    }
  
    &.locrian {
      @include mnemonic-cols-locrian;
    }
  }
}

