@use '../variables/color' as *;
@use '../variables/mixins' as *;
@use '../variables/mnemonic-grid' as *;

.mnemonic-grid {
  display: grid;
  grid-template-rows: repeat($row-count, auto);
  grid-template-columns: repeat($col-count, auto);

  .spacer {
    grid-row: 1 / #{$row-count} + 1;
    width: 1em;

    &.after-ionian {
      @include mnemonic-spacer-after-ionian;
    }

    &.after-dorian {
      @include mnemonic-spacer-after-dorian;
    }

    &.after-phrygian {
      @include mnemonic-spacer-after-phrygian;
    }

    &.after-lydian {
      @include mnemonic-spacer-after-lydian;
    }

    &.after-mixolydian {
      @include mnemonic-spacer-after-mixolydian;
    }

    &.after-aeolian {
      @include mnemonic-spacer-after-aeolian;
    }
  }

  .string-name {
    grid-column: 1;

    &.first {
      grid-row-start: $row-start-first;
      grid-row-end: span $rows-per-string;
    }

    &.second {
      grid-row-start: $row-start-second;
      grid-row-end: span $rows-per-string;
    }

    &.third {
      grid-row-start: $row-start-third;
      grid-row-end: span $rows-per-string;
    }

    &.fourth {
      grid-row-start: $row-start-fourth;
      grid-row-end: span $rows-per-string;
    }

    &.fifth {
      grid-row-start: $row-start-fifth;
      grid-row-end: span $rows-per-string;
    }

    &.sixth {
      grid-row-start: $row-start-sixth;
      grid-row-end: span $rows-per-string;
    }
  }

  .mode-name {
    text-align: center;
    grid-row: 1;
  }

  .mnemonic.mnemonic {
    grid-row: 2;
    padding-top: 1em;

    &.first {
      grid-row-start: $row-start-first;
    }

    &.second {
      grid-row-start: $row-start-second;
    }

    &.third {
      grid-row-start: $row-start-third;
    }

    &.fourth {
      grid-row-start: $row-start-fourth;
    }

    &.fifth {
      grid-row-start: $row-start-fifth;
    }

    &.sixth {
      grid-row-start: $row-start-sixth;
    }

    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }
  }

  // Span the right number of frets per mode
  .mode-name.mode-name,
  .mnemonic.mnemonic {
    border: none;
    background: none;

    &.ionian {
      @include mnemonic-cols-ionian;
    }

    &.dorian {
      @include mnemonic-cols-dorian;
    }

    &.phrygian {
      @include mnemonic-cols-phrygian;
    }

    &.lydian {
      @include mnemonic-cols-lydian;
    }
  
    &.mixolydian {
      @include mnemonic-cols-mixolydian;
    }
  
    &.aeolian {
      @include mnemonic-cols-aeolian;
    }
  
    &.locrian {
      @include mnemonic-cols-locrian;
    }
  }

  .note {
    height: 2em;
    display: flex;

    &.ionian {
      @include shape-ionian(2, 2, $col-start-ionian);
    }

    &.dorian {
      @debug $col-start-dorian;
      @include shape-dorian(2, 2, $col-start-dorian);
    }

    &.phrygian {
      @debug $col-start-phrygian;
      @include shape-phrygian(2, 2, $col-start-phrygian);
    }

    &.lydian {
      @debug $col-start-lydian;
      @include shape-lydian(2, 2, $col-start-lydian);
    }

    &.mixolydian {
      @debug $col-start-mixolydian;
      @include shape-mixolydian(2, 2, $col-start-mixolydian);
    }

    &.aeolian {
      @debug $col-start-aeolian;
      @include shape-aeolian(2, 2, $col-start-aeolian);
    }

    &.locrian {
      @debug $col-start-locrian;
      @include shape-locrian(2, 2, $col-start-locrian);
    }

    &.first {
      grid-row: $row-start-first + 1;
    }

    &.second {
      grid-row: $row-start-second + 1;
    }

    &.third {
      grid-row: $row-start-third + 1;
    }

    &.fourth {
      grid-row: $row-start-fourth + 1;
    }

    &.fifth {
      grid-row: $row-start-fifth + 1;
    }

    &.sixth {
      grid-row: $row-start-sixth + 1;
    }
  }
}

