@use '../variables/mixins' as *;

.locrian-ionian-dorian {
  display: grid;
  grid-template-columns: repeat(16, minmax(0, 3em));
  grid-template-rows: repeat(8, max-content);

  margin-top: 6%;

  .mode-name.mode-name {
    transform-origin: top left;
    transform: rotate(-40deg);
    border: none;

    &.ionian {
      grid-area: 1 / 2;
    }

    &.dorian {
      grid-area: 1 / 4;
    }
     
    &.phrygian {
      grid-area: 1 / 6;
    }

    &.lydian {
      grid-area: 1 / 7;
    }

    &.mixolydian {
      grid-area: 1 / 9;
    }

    &.aeolian {
      grid-area: 1 / 11;
    }

    &.locrian {
      grid-area: 1 / 13;
    }
  }

  p {
    height: 3em;
    width: 3em;
    display: grid;
    padding: 2px;
  }

  // Default row values are based on a fretboard with 6 rows.
  // Since we want an extra heading row, let's add an offset.
  .ionian {
    @include shape-ionian(1, 1, 0);
  }

  .dorian {
    @include shape-dorian(1, 1, 0);
  }

  .phrygian {
    @include shape-phrygian(1, 1, 0);
  }

  .lydian {
    @include shape-lydian(1, 1, 0);
  }

  .mixolydian {
    @include shape-mixolydian(1, 1, 0);
  }

  .aeolian {
    @include shape-aeolian(1, 1, 0);
  }

  .locrian {
    @include shape-locrian(1, 1, 0);
  }

  .fret {
    grid-row: 8;
    text-align: center;
    padding: 10px;
  }
}

.ionian-dorian-phrygian {
  display: grid;
  grid-template-columns: repeat(16, minmax(0, 3em));
  grid-template-rows: repeat(8, max-content);

  margin-top: 6%;

  .mode-name.mode-name {
    transform-origin: top left;
    transform: rotate(-40deg);
    border: none;

    &.ionian {
      grid-area: 1 / 2;
    }

    &.dorian {
      grid-area: 1 / 4;
    }
     
    &.phrygian {
      grid-area: 1 / 6;
    }

    &.lydian {
      grid-area: 1 / 7;
    }

    &.mixolydian {
      grid-area: 1 / 9;
    }

    &.aeolian {
      grid-area: 1 / 11;
    }

    &.locrian {
      grid-area: 1 / 13;
    }
  }

  p {
    height: 3em;
    width: 3em;
    display: grid;
    padding: 2px;
  }

  // Default row values are based on a fretboard with 6 rows.
  // Since we want an extra heading row, let's add an offset.
  .ionian {
    @include shape-ionian(1, 1, 0);
  }

  .dorian {
    @include shape-dorian(1, 1, 0);
  }

  .phrygian {
    @include shape-phrygian(1, 1, 0);
  }

  .lydian {
    @include shape-lydian(1, 1, 0);
  }

  .mixolydian {
    @include shape-mixolydian(1, 1, 0);
  }

  .aeolian {
    @include shape-aeolian(1, 1, 0);
  }

  .locrian {
    @include shape-locrian(1, 1, 0);
  }


  .fret {
    grid-row: 8;
    text-align: center;
    padding: 10px;
  }
}

.dorian-phrygian-lydian {
  display: grid;
  grid-template-columns: repeat(16, minmax(0, 3em));
  grid-template-rows: repeat(8, max-content);

  margin-top: 6%;

  .mode-name.mode-name {
    transform-origin: top left;
    transform: rotate(-40deg);
    border: none;

    &.ionian {
      grid-area: 1 / 2;
    }

    &.dorian {
      grid-area: 1 / 4;
    }
     
    &.phrygian {
      grid-area: 1 / 6;
    }

    &.lydian {
      grid-area: 1 / 7;
    }

    &.mixolydian {
      grid-area: 1 / 9;
    }

    &.aeolian {
      grid-area: 1 / 11;
    }

    &.locrian {
      grid-area: 1 / 13;
    }
  }

  p {
    height: 3em;
    width: 3em;
    display: grid;
    padding: 2px;
  }

  // Default row values are based on a fretboard with 6 rows.
  // Since we want an extra heading row, let's add an offset.
  .ionian {
    @include shape-ionian(1, 1, 0);
  }

  .dorian {
    @include shape-dorian(1, 1, 0);
  }

  .phrygian {
    @include shape-phrygian(1, 1, 0);
  }

  .lydian {
    @include shape-lydian(1, 1, 0);
  }

  .mixolydian {
    @include shape-mixolydian(1, 1, 0);
  }

  .aeolian {
    @include shape-aeolian(1, 1, 0);
  }

  .locrian {
    @include shape-locrian(1, 1, 0);
  }


  .fret {
    grid-row: 8;
    text-align: center;
    padding: 10px;
  }
}

.phrygian-lydian-mixolydian {
  display: grid;
  grid-template-columns: repeat(16, minmax(0, 3em));
  grid-template-rows: repeat(8, max-content);

  margin-top: 6%;

  .mode-name.mode-name {
    transform-origin: top left;
    transform: rotate(-40deg);
    border: none;

    &.ionian {
      grid-area: 1 / 2;
    }

    &.dorian {
      grid-area: 1 / 4;
    }
     
    &.phrygian {
      grid-area: 1 / 6;
    }

    &.lydian {
      grid-area: 1 / 7;
    }

    &.mixolydian {
      grid-area: 1 / 9;
    }

    &.aeolian {
      grid-area: 1 / 11;
    }

    &.locrian {
      grid-area: 1 / 13;
    }
  }

  p {
    height: 3em;
    width: 3em;
    display: grid;
    padding: 2px;
  }

  // Default row values are based on a fretboard with 6 rows.
  // Since we want an extra heading row, let's add an offset.
  .ionian {
    @include shape-ionian(1, 1, 0);
  }

  .dorian {
    @include shape-dorian(1, 1, 0);
  }

  .phrygian {
    @include shape-phrygian(1, 1, 0);
  }

  .lydian {
    @include shape-lydian(1, 1, 0);
  }

  .mixolydian {
    @include shape-mixolydian(1, 1, 0);
  }

  .aeolian {
    @include shape-aeolian(1, 1, 0);
  }

  .locrian {
    @include shape-locrian(1, 1, 0);
  }


  .fret {
    grid-row: 8;
    text-align: center;
    padding: 10px;
  }
}

.lydian-mixolydian-aeolian {
  display: grid;
  grid-template-columns: repeat(16, minmax(0, 3em));
  grid-template-rows: repeat(8, max-content);

  margin-top: 6%;

  .mode-name.mode-name {
    transform-origin: top left;
    transform: rotate(-40deg);
    border: none;

    &.ionian {
      grid-area: 1 / 2;
    }

    &.dorian {
      grid-area: 1 / 4;
    }
     
    &.phrygian {
      grid-area: 1 / 6;
    }

    &.lydian {
      grid-area: 1 / 7;
    }

    &.mixolydian {
      grid-area: 1 / 9;
    }

    &.aeolian {
      grid-area: 1 / 11;
    }

    &.locrian {
      grid-area: 1 / 13;
    }
  }

  p {
    height: 3em;
    width: 3em;
    display: grid;
    padding: 2px;
  }

  // Default row values are based on a fretboard with 6 rows.
  // Since we want an extra heading row, let's add an offset.
  .ionian {
    @include shape-ionian(1, 1, 0);
  }

  .dorian {
    @include shape-dorian(1, 1, 0);
  }

  .phrygian {
    @include shape-phrygian(1, 1, 0);
  }

  .lydian {
    @include shape-lydian(1, 1, 0);
  }

  .mixolydian {
    @include shape-mixolydian(1, 1, 0);
  }

  .aeolian {
    @include shape-aeolian(1, 1, 0);
  }

  .locrian {
    @include shape-locrian(1, 1, 0);
  }


  .fret {
    grid-row: 8;
    text-align: center;
    padding: 10px;
  }
}

.mixolydian-aeolian-locrian {
  display: grid;
  grid-template-columns: repeat(16, minmax(0, 3em));
  grid-template-rows: repeat(8, max-content);

  margin-top: 6%;

  .mode-name.mode-name {
    transform-origin: top left;
    transform: rotate(-40deg);
    border: none;

    &.ionian {
      grid-area: 1 / 2;
    }

    &.dorian {
      grid-area: 1 / 4;
    }
     
    &.phrygian {
      grid-area: 1 / 6;
    }

    &.lydian {
      grid-area: 1 / 7;
    }

    &.mixolydian {
      grid-area: 1 / 9;
    }

    &.aeolian {
      grid-area: 1 / 11;
    }

    &.locrian {
      grid-area: 1 / 13;
    }
  }

  p {
    height: 3em;
    width: 3em;
    display: grid;
    padding: 2px;
  }

  // Default row values are based on a fretboard with 6 rows.
  // Since we want an extra heading row, let's add an offset.
  .ionian {
    @include shape-ionian(1, 1, 0);
  }

  .dorian {
    @include shape-dorian(1, 1, 0);
  }

  .phrygian {
    @include shape-phrygian(1, 1, 0);
  }

  .lydian {
    @include shape-lydian(1, 1, 0);
  }

  .mixolydian {
    @include shape-mixolydian(1, 1, 0);
  }

  .aeolian {
    @include shape-aeolian(1, 1, 0);
  }

  .locrian {
    @include shape-locrian(1, 1, 0);
  }

  .fret {
    grid-row: 8;
    text-align: center;
    padding: 10px;
  }
}
