$ionian-text: rgb(0, 0, 172); 
$ionian-bg: rgba(0, 51, 255, 0.3);

$dorian-text: rgb(165, 3, 73);
$dorian-bg: rgba(255, 0, 119, 0.347);

$phrygian-text: rgb(213, 100, 19);
$phrygian-bg: rgba(235, 120, 38, 0.3);

$lydian-text: rgb(216, 140, 19);
$lydian-bg: rgba(255, 200, 0, 0.3);

$mixolydian-text: rgb(0, 182, 133);
$mixolydian-bg: rgba(0, 255, 179, 0.3);

$aeolian-text: rgb(10, 142, 168);
$aeolian-bg: rgba(0, 170, 255, 0.3);
