@use '../variables/color' as *;
@use '../variables/mnemonic-grid' as *;

@mixin mnemonic-cols-ionian {
  grid-column: $col-start-ionian / span $col-span-ionian;
}

@mixin mnemonic-spacer-after-ionian {
  grid-column:  ($col-start-ionian
                + $col-span-ionian);
}

@mixin mnemonic-cols-dorian {
  grid-column:  ($col-start-ionian
                + $col-span-ionian
                + 1 //spacer
                )
                / span $col-span-dorian;
}

@mixin mnemonic-spacer-after-dorian {
  grid-column:  ($col-start-ionian
                + $col-span-ionian)
                + 1 //spacer
                + $col-span-dorian;
}

@mixin mnemonic-cols-phrygian {
  grid-column:  ($col-start-ionian
                + $col-span-ionian
                + 1 //spacer
                + $col-span-dorian
                + 1 //spacer
                )
                / span $col-span-phrygian;
}

@mixin mnemonic-spacer-after-phrygian {
  grid-column:  ($col-start-ionian
                + $col-span-ionian)
                + 1 //spacer
                + $col-span-dorian
                + 1 //spacer
                + $col-span-phrygian;
}

@mixin mnemonic-cols-lydian {
  grid-column:  ($col-start-ionian
                + $col-span-ionian
                + 1 //spacer
                + $col-span-dorian
                + 1 //spacer
                + $col-span-phrygian
                + 1 //spacer
                )
                / span $col-span-lydian;
}

@mixin mnemonic-spacer-after-lydian {
  grid-column:  ($col-start-ionian
                + $col-span-ionian)
                + 1 //spacer
                + $col-span-dorian
                + 1 //spacer
                + $col-span-phrygian
                + 1 //spacer
                + $col-span-lydian;
}

@mixin mnemonic-cols-mixolydian {
  grid-column:  ($col-start-ionian
                + $col-span-ionian
                + 1 //spacer
                + $col-span-dorian
                + 1 //spacer
                + $col-span-phrygian
                + 1 //spacer
                + $col-span-lydian
                + 1 //spacer
                )
                / span $col-span-mixolydian;
}

@mixin mnemonic-spacer-after-mixolydian {
  grid-column:  ($col-start-ionian
                + $col-span-ionian)
                + 1 //spacer
                + $col-span-dorian
                + 1 //spacer
                + $col-span-phrygian
                + 1 //spacer
                + $col-span-lydian
                + 1 //spacer
                + $col-span-mixolydian;
}

@mixin mnemonic-cols-aeolian {
  grid-column:  ($col-start-ionian
                + $col-span-ionian
                + 1 //spacer
                + $col-span-dorian
                + 1 //spacer
                + $col-span-phrygian
                + 1 //spacer
                + $col-span-lydian
                + 1 //spacer
                + $col-span-mixolydian
                + 1 //spacer
                )
                / span $col-span-aeolian;
}

@mixin mnemonic-spacer-after-aeolian {
  grid-column:  ($col-start-ionian
                + $col-span-ionian)
                + 1 //spacer
                + $col-span-dorian
                + 1 //spacer
                + $col-span-phrygian
                + 1 //spacer
                + $col-span-lydian
                + 1 //spacer
                + $col-span-mixolydian
                + 1 //spacer
                + $col-span-aeolian;
}

@mixin mnemonic-cols-locrian {
  grid-column:  ($col-start-ionian
                + $col-span-ionian
                + 1 //spacer
                + $col-span-dorian
                + 1 //spacer
                + $col-span-phrygian
                + 1 //spacer
                + $col-span-lydian
                + 1 //spacer
                + $col-span-mixolydian
                + 1 //spacer
                + $col-span-aeolian
                + 1 //spacer
                )
                / span $col-span-locrian;
}

@mixin shape-ionian($row-offset: 0, $col-offset: 0) {
  .ionian {
    justify-content: start;
    align-items: start;

    &.oct-a.deg-1 {
      grid-row: 6 + $row-offset;
      grid-column: 2 + $col-offset;
    }

    &.oct-a.deg-2 {
      grid-row: 6 + $row-offset; 
      grid-column: 4 + $col-offset;
    }

    &.oct-a.deg-3 {
      grid-row: 5 + $row-offset; 
      grid-column: 1 + $col-offset;
    }

    &.oct-a.deg-4 {
      grid-row: 5 + $row-offset; 
      grid-column: 2 + $col-offset;
    }

    &.oct-a.deg-5 {
      grid-row: 5 + $row-offset; 
      grid-column: 4 + $col-offset;
    }

    &.oct-a.deg-6 {
      grid-row: 4 + $row-offset; 
      grid-column: 1 + $col-offset;
    }

    &.oct-a.deg-7 {
      grid-row: 4 + $row-offset; 
      grid-column: 3 + $col-offset;
    }

    &.oct-b.deg-1 {
      grid-row: 4 + $row-offset; 
      grid-column: 4 + $col-offset;
    }

    &.oct-b.deg-2 {
      grid-row: 3 + $row-offset; 
      grid-column: 1 + $col-offset;
    }

    &.oct-b.deg-3 {
      grid-row: 3 + $row-offset; 
      grid-column: 3 + $col-offset;
    }

    &.oct-b.deg-4 {
      grid-row: 3 + $row-offset; 
      grid-column: 4 + $col-offset;
    }

    &.oct-b.deg-5 {
      grid-row: 2 + $row-offset; 
      grid-column: 2 + $col-offset;
    }

    &.oct-b.deg-6 {
      grid-row: 2 + $row-offset; 
      grid-column: 4 + $col-offset;
    }

    &.oct-b.deg-7 {
      grid-row: 1 + $row-offset; 
      grid-column: 1 + $col-offset;
    }

    &.oct-c.deg-1 {
      grid-row: 1 + $row-offset; 
      grid-column: 2 + $col-offset;
    }
  }
}

@mixin shape-dorian($row-offset: 0, $col-offset: 0) {
  .dorian {
    justify-content: end;
    align-items: start;

    &.oct-a.deg-1 {
      grid-row: 6 + $row-offset; 
      grid-column: 4 + $col-offset;
    }

    &.oct-a.deg-2 {
      grid-row: 6 + $row-offset; 
      grid-column: 6 + $col-offset;
    }

    &.oct-a.deg-3 {
      grid-row: 6 + $row-offset; 
      grid-column: 7 + $col-offset;
    }

    &.oct-a.deg-4 {
      grid-row: 5 + $row-offset; 
      grid-column: 4 + $col-offset;
    }

    &.oct-a.deg-5 {
      grid-row: 5 + $row-offset; 
      grid-column: 6 + $col-offset;
    }

    &.oct-a.deg-6 {
      grid-row: 4 + $row-offset; 
      grid-column: 3 + $col-offset;
    }

    &.oct-a.deg-7 {
      grid-row: 4 + $row-offset; 
      grid-column: 4 + $col-offset;
    }

    &.oct-b.deg-1 {
      grid-row: 4 + $row-offset; 
      grid-column: 6 + $col-offset;
    }

    &.oct-b.deg-2 {
      grid-row: 3 + $row-offset; 
      grid-column: 3 + $col-offset;
    }

    &.oct-b.deg-3 {
      grid-row: 3 + $row-offset; 
      grid-column: 4 + $col-offset;
    }

    &.oct-b.deg-4 {
      grid-row: 3 + $row-offset; 
      grid-column: 6 + $col-offset;
    }

    &.oct-b.deg-5 {
      grid-row: 2 + $row-offset; 
      grid-column: 4 + $col-offset;
    }

    &.oct-b.deg-6 {
      grid-row: 2 + $row-offset; 
      grid-column: 6 + $col-offset;
    }

    &.oct-b.deg-7 {
      grid-row: 2 + $row-offset; 
      grid-column: 7 + $col-offset;
    }

    &.oct-c.deg-1 {
      grid-row: 1 + $row-offset; 
      grid-column: 4 + $col-offset;
    }
  }
}

@mixin shape-phrygian($row-offset: 0, $col-offset: 0) {
  .phrygian {
    justify-content: end;
    align-items: end;

    &.oct-a.deg-1 {
      grid-row: 6 + $row-offset; 
      grid-column: 6 + $col-offset;
    }

    &.oct-a.deg-2 {
      grid-row: 6 + $row-offset; 
      grid-column: 7 + $col-offset;
    }

    &.oct-a.deg-3 {
      grid-row: 6 + $row-offset; 
      grid-column: 9 + $col-offset;
    }

    &.oct-a.deg-4 {
      grid-row: 5 + $row-offset; 
      grid-column: 6 + $col-offset;
    }

    &.oct-a.deg-5 {
      grid-row: 5 + $row-offset; 
      grid-column: 8 + $col-offset;
    }

    &.oct-a.deg-6 {
      grid-row: 5 + $row-offset; 
      grid-column: 9 + $col-offset;
    }

    &.oct-a.deg-7 {
      grid-row: 4 + $row-offset; 
      grid-column: 6 + $col-offset;
    }

    &.oct-b.deg-1 {
      grid-row: 4 + $row-offset; 
      grid-column: 8 + $col-offset;
    }

    &.oct-b.deg-2 {
      grid-row: 4 + $row-offset; 
      grid-column: 9 + $col-offset;
    }

    &.oct-b.deg-3 {
      grid-row: 3 + $row-offset; 
      grid-column: 6 + $col-offset;
    }

    &.oct-b.deg-4 {
      grid-row: 3 + $row-offset; 
      grid-column: 8 + $col-offset;
    }

    &.oct-b.deg-5 {
      grid-row: 2 + $row-offset; 
      grid-column: 6 + $col-offset;
    }

    &.oct-b.deg-6 {
      grid-row: 2 + $row-offset; 
      grid-column: 7 + $col-offset;
    }

    &.oct-b.deg-7 {
      grid-row: 2 + $row-offset; 
      grid-column: 9 + $col-offset;
    }

    &.oct-c.deg-1 {
      grid-row: 1 + $row-offset; 
      grid-column: 6 + $col-offset;
    }
  }
}

@mixin shape-lydian($row-offset: 0, $col-offset: 0) {
  .lydian {
    justify-content: start;
    align-items: end;

    &.oct-a.deg-1 {
      grid-row: 6 + $row-offset; 
      grid-column: 7 + $col-offset;
    }

    &.oct-a.deg-2 {
      grid-row: 6 + $row-offset; 
      grid-column: 9 + $col-offset;
    }

    &.oct-a.deg-3 {
      grid-row: 5 + $row-offset; 
      grid-column: 6 + $col-offset;
    }

    &.oct-a.deg-4 {
      grid-row: 5 + $row-offset; 
      grid-column: 8 + $col-offset;
    }

    &.oct-a.deg-5 {
      grid-row: 5 + $row-offset; 
      grid-column: 9 + $col-offset;
    }

    &.oct-a.deg-6 {
      grid-row: 4 + $row-offset; 
      grid-column: 6 + $col-offset;
    }

    &.oct-a.deg-7 {
      grid-row: 4 + $row-offset; 
      grid-column: 8 + $col-offset;
    }

    &.oct-b.deg-1 {
      grid-row: 4 + $row-offset; 
      grid-column: 9 + $col-offset;
    }

    &.oct-b.deg-2 {
      grid-row: 3 + $row-offset; 
      grid-column: 6 + $col-offset;
    }

    &.oct-b.deg-3 {
      grid-row: 3 + $row-offset; 
      grid-column: 8 + $col-offset;
    }

    &.oct-b.deg-4 {
      grid-row: 2 + $row-offset; 
      grid-column: 6 + $col-offset;
    }

    &.oct-b.deg-5 {
      grid-row: 2 + $row-offset; 
      grid-column: 7 + $col-offset;
    }

    &.oct-b.deg-6 {
      grid-row: 2 + $row-offset; 
      grid-column: 9 + $col-offset;
    }

    &.oct-b.deg-7 {
      grid-row: 1 + $row-offset; 
      grid-column: 6 + $col-offset;
    }

    &.oct-c.deg-1 {
      grid-row: 1 + $row-offset; 
      grid-column: 7 + $col-offset;
    }
  }
}

@mixin shape-mixolydian($row-offset: 0, $col-offset: 0) {
  .mixolydian {
    justify-content: start;
    align-items: start;

    &.oct-a.deg-1 {
      grid-row: 6 + $row-offset;
      grid-column: 9 + $col-offset;
    }

    &.oct-a.deg-2 {
      grid-row: 6 + $row-offset; 
      grid-column: 11 + $col-offset;
    }

    &.oct-a.deg-3 {
      grid-row: 5 + $row-offset; 
      grid-column: 8 + $col-offset;
    }

    &.oct-a.deg-4 {
      grid-row: 5 + $row-offset; 
      grid-column: 9 + $col-offset;
    }

    &.oct-a.deg-5 {
      grid-row: 5 + $row-offset; 
      grid-column: 11 + $col-offset;
    }

    &.oct-a.deg-6 {
      grid-row: 4 + $row-offset; 
      grid-column: 8 + $col-offset;
    }

    &.oct-a.deg-7 {
      grid-row: 4 + $row-offset; 
      grid-column: 9 + $col-offset;
    }

    &.oct-b.deg-1 {
      grid-row: 4 + $row-offset; 
      grid-column: 11 + $col-offset;
    }

    &.oct-b.deg-2 {
      grid-row: 3 + $row-offset; 
      grid-column: 8 + $col-offset;
    }

    &.oct-b.deg-3 {
      grid-row: 3 + $row-offset; 
      grid-column: 10 + $col-offset;
    }

    &.oct-b.deg-4 {
      grid-row: 3 + $row-offset; 
      grid-column: 11 + $col-offset;
    }

    &.oct-b.deg-5 {
      grid-row: 2 + $row-offset; 
      grid-column: 9 + $col-offset;
    }

    &.oct-b.deg-6 {
      grid-row: 2 + $row-offset; 
      grid-column: 11 + $col-offset;
    }

    &.oct-b.deg-7 {
      grid-row: 2 + $row-offset; 
      grid-column: 12 + $col-offset;
    }

    &.oct-c.deg-1 {
      grid-row: 1 + $row-offset; 
      grid-column: 9 + $col-offset;
    }
  }
}

@mixin shape-aeolian($row-offset: 0, $col-offset: 0) {
  .aeolian {
    justify-content: end;
    align-items: start;

    &.oct-a.deg-1 {
      grid-row: 6 + $row-offset; 
      grid-column: 11 + $col-offset;
    }

    &.oct-a.deg-2 {
      grid-row: 6 + $row-offset; 
      grid-column: 13 + $col-offset;
    }

    &.oct-a.deg-3 {
      grid-row: 6 + $row-offset; 
      grid-column: 14 + $col-offset;
    }

    &.oct-a.deg-4 {
      grid-row: 5 + $row-offset; 
      grid-column: 11 + $col-offset;
    }

    &.oct-a.deg-5 {
      grid-row: 5 + $row-offset; 
      grid-column: 13 + $col-offset;
    }

    &.oct-a.deg-6 {
      grid-row: 5 + $row-offset; 
      grid-column: 14 + $col-offset;
    }

    &.oct-a.deg-7 {
      grid-row: 4 + $row-offset; 
      grid-column: 11 + $col-offset;
    }

    &.oct-b.deg-1 {
      grid-row: 4 + $row-offset; 
      grid-column: 13 + $col-offset;
    }

    &.oct-b.deg-2 {
      grid-row: 3 + $row-offset; 
      grid-column: 10 + $col-offset;
    }

    &.oct-b.deg-3 {
      grid-row: 3 + $row-offset; 
      grid-column: 11 + $col-offset;
    }

    &.oct-b.deg-4 {
      grid-row: 3 + $row-offset; 
      grid-column: 13 + $col-offset;
    }

    &.oct-b.deg-5 {
      grid-row: 2 + $row-offset; 
      grid-column: 11 + $col-offset;
    }

    &.oct-b.deg-6 {
      grid-row: 2 + $row-offset; 
      grid-column: 12 + $col-offset;
    }

    &.oct-b.deg-7 {
      grid-row: 2 + $row-offset; 
      grid-column: 14 + $col-offset;
    }

    &.oct-c.deg-1 {
      grid-row: 1 + $row-offset; 
      grid-column: 11 + $col-offset;
    }
  }
}

@mixin shape-locrian($row-offset: 0, $col-offset: 0) {
  .locrian {
    justify-content: end;
    align-items: end;

    &.oct-a.deg-1 {
      grid-row: 6 + $row-offset; 
      grid-column: 13 + $col-offset;
    }

    &.oct-a.deg-2 {
      grid-row: 6 + $row-offset; 
      grid-column: 14 + $col-offset;
    }

    &.oct-a.deg-3 {
      grid-row: 6 + $row-offset; 
      grid-column: 16 + $col-offset;
    }

    &.oct-a.deg-4 {
      grid-row: 5 + $row-offset; 
      grid-column: 13 + $col-offset;
    }

    &.oct-a.deg-5 {
      grid-row: 5 + $row-offset; 
      grid-column: 14 + $col-offset;
    }

    &.oct-a.deg-6 {
      grid-row: 5 + $row-offset; 
      grid-column: 16 + $col-offset;
    }

    &.oct-a.deg-7 {
      grid-row: 4 + $row-offset; 
      grid-column: 13 + $col-offset;
    }

    &.oct-b.deg-1 {
      grid-row: 4 + $row-offset; 
      grid-column: 15 + $col-offset;
    }

    &.oct-b.deg-2 {
      grid-row: 4 + $row-offset; 
      grid-column: 16 + $col-offset;
    }

    &.oct-b.deg-3 {
      grid-row: 3 + $row-offset; 
      grid-column: 13 + $col-offset;
    }

    &.oct-b.deg-4 {
      grid-row: 3 + $row-offset; 
      grid-column: 15 + $col-offset;
    }

    &.oct-b.deg-5 {
      grid-row: 3 + $row-offset; 
      grid-column: 16 + $col-offset;
    }

    &.oct-b.deg-6 {
      grid-row: 2 + $row-offset; 
      grid-column: 14 + $col-offset;
    }

    &.oct-b.deg-7 {
      grid-row: 2 + $row-offset; 
      grid-column: 16 + $col-offset;
    }

    &.oct-c.deg-1 {
      grid-row: 1 + $row-offset; 
      grid-column: 13 + $col-offset;
    }
  }
}
